<!doctype html>
<html lang="en" th:replace="base::layout(~{::div})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<div style="display: flex; justify-content: center; align-items: center; height: 350px;">
		
		<form th:action="@{/Admin/add_book}" method="post">
			<h2>Add Books</h2>
			<table>
				<tr>
					<td>Book ID:&nbsp;</td>
					<td> <input type="text" name="book_id"/> </td>
				</tr>
				<tr>
					<td>Book Name:&nbsp;</td>
					<td> <input type="text" name="book_name"/> </td>
				</tr>
				<tr>
					<td>Author:&nbsp;</td>
					<td> <input type="text" name="author"/> </td>
				</tr>
				<tr>
					<td>Publication:&nbsp;</td>
					<td> <input type="text" name="publication"/> </td>
				</tr>
				<tr>
					<td>Faculty:&nbsp;</td>
					<td> <input type="text" name="book_faculty"/> </td>
				</tr>
					<tr>
						<td>
							<input type="submit" value="add"/>
						</td>
					</tr>
			</table>
		</form>
	</div>
</body>
</html>