<html th:replace="basee::layout(~{::section})">
	<head></head>
	<body>
		<section>
			<main id="main" class="main">

    <div class="pagetitle">
      <h1>Books</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
            
            

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>
                    	Book ID
                    </th>
                    <th>Book Name</th>
                    <th>Author</th>
                    <th>Publication</th>
                    <th>Category</th>
                   <!--<th>Added Date</th>-->
                    <th>Status</th>
                    <th>Issue</th>
                    <th>Update</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                 
                  <tr  th:each="e:${all}">
                    <td th:text="${e.bid}"></td>
                    <td th:text="${e.bname}"></td>
                    <td th:text="${e.author}"></td>
                    <td th:text="${e.publication}"></td>
                    <td th:text="${e.category}"></td>
                   <!-- <td th:text="${e.date}"></td>-->
                     <td th:text="${e.status}"></td>
                     <td> <a th:href="@{${e.status=='Available'}?'/Admin/issue_search':'/Admin/issue_details'(id=${e.bid})}"><span th:text="${e.status=='Available'}?'issue':'Detail'"></span></a> </td>
                     <td> <a th:href="@{/Admin/update(id=${e.bid})}">update</a> </td>
                     <td> <a th:href="@{/Admin/delete(id=${e.bid})}">delete</a> </td>
                  </tr>
                 
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
		</section>
	</body>
</html>