<html th:replace="basee::layout(~{::section})">
	<head></head>
	<body>
		<section>
			<main id="main" class="main">

    <div class="pagetitle">
      <h1>Books</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
            <form th:action="@{/Admin/search_book}" method="get">
				
                <div class="row mb-1 mt-3">
               
                  <div class="col-sm-3">
                    <input type="text" class="form-control" name="search" placeholder="Search By ID or Name">
                  </div>
               </div>
                <div class="row mb-3">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Search</button>
                  </div>
                </div>

              </form>
            

              <!-- Table with stripped rows -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                    	Book ID
                    </th>
                    <th>Book Name</th>
                    <th>Author</th>
                    <th>Publication</th>
                    <th>Category</th>
                   <!--<th>Added Date</th>-->
                    <th>Status</th>
                    <th>Issue</th>
                    <th>Update</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                 
                  <tr  th:each="e:${all}">
                    <td th:text="${e.bid}"></td>
                    <td th:text="${e.bname}"></td>
                    <td th:text="${e.author}"></td>
                    <td th:text="${e.publication}"></td>
                    <td th:text="${e.category}"></td>
                   <!-- <td th:text="${e.date}"></td>-->
                     <td th:text="${e.status}"></td>
                     <td> 
						 <div th:if="${e.status == 'Available'}">
         <a  class="btn btn-info btn-sm" th:href="@{/Admin/issue_search(id=${e.bid})}">Issue</a>
    </div>
    
    <div th:else th:if="${e.status == 'issued'}">
        <a class="btn btn-info btn-sm" th:href="@{/Admin/issue_details(id=${e.bid})}">Details</a>
    </div>
    
   <div th:unless="${e.status == 'Available' or e.status == 'issued'}">
        <a class="btn btn-info btn-sm" th:href="@{/Admin/bookingById(id=${e.bid})}">Details</a>
    </div>
						 
					 </td>
                     <td> <a class="btn btn-primary btn-sm" th:href="@{/Admin/update(id=${e.bid})}">update</a> </td>
                     <td> <a class="btn btn-danger btn-sm" th:href="@{/Admin/delete(id=${e.bid})}">delete</a> </td>
                  </tr>
                 
                </tbody>
              </table>
              <!--<nav aria-label="Page navigation example">
                <ul class="pagination">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}" > 
                  <li class="page-item"><a class="page-link" th:href="@{'/Admin/findAll/' + ${i}}">[[${i}]]</a></li>
                  <!--<li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li></span>
                </ul>
              </nav>-->
               <!--<footer style="font-size: large" class="panel-footer">
    Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]
    &nbsp; &nbsp; - &nbsp;
    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
        <a th:href="@{'/Admin/findAll/' + ${i}}">[[${i}]]</a>
        &nbsp; &nbsp;
    </span>
</footer>-->
    </div>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
		</section>
	</body>
</html>