<html  th:replace="basee::layout(~{::section})">
	<head>
		
</script>
	</head>
	<body>
		<section>
			<main id="main" class="main">

    <div class="pagetitle">
      <h1>Data Tables</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
            
            

              <!-- Table with stripped rows -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                    	Book ID
                    </th>
                    <th>Book Name</th>
                    <th>Author</th>
                    <th>Publication</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Issue</th>
                    <th>Update</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                 
                  <tr  th:each="e:${blist}">
                    <td th:text="${e.bid}"></td>
                    <td th:text="${e.bname}"></td>
                    <td th:text="${e.author}"></td>
                    <td th:text="${e.publication}"></td>
                    <td th:text="${e.category}"></td>
                     <td th:text="${e.status}"></td>
                     <td >
						<th:block th:if="${e.status=='issued'}">
   <a class="btn btn-primary btn-sm" 
       					th:href="@{/Admin/issue_details(id=${e.bid})}">
        					Details
    				</a>
</th:block>




    			<th:block th:if="${e.status == 'Available'}">
    
   				 <a class="btn btn-primary btn-sm" 
       				th:href="@{/Admin/issue_search(id=${e.bid})}">
        				Issue
   				 </a>
				</th:block>
  				<th:block th:if="${e.status == 'Booked'}">
   
    				<a class="btn btn-primary btn-sm" 
       					th:href="@{/Admin/bookings(id=${e.bid})}">
        					Details
    				</a>
				</th:block></td>
                     <!--<td><a class="btn btn-primary btn-sm"  th:href="@{${e.status=='Available'}?'/Admin/issue_search':'/Admin/issue_details'(id=${e.bid})}"><span th:text="${e.status=='Available'?'issue':'Details'}"></span></a> </td>-->
                     <td><a class="btn btn-info btn-sm" th:href="@{/Admin/update(id=${e.bid})}">update</a> </td>
                     <td> <a class="btn btn-danger btn-sm" th:href="@{/Admin/delete(id=${e.bid})}">delete</a> </td>
                  </tr>
                 
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
				<!-- Modal -->

</div>


            </div>
          </div>

        </div>
      </div>
      <th th:insert="modal::modal1"></th>
    </section>

  </main><!-- End #main -->
  

<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		</section>		
	</body>
	<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



	
</html>