<html th:replace="basee::layout(~{::section})">
	<head></head>
	<body>
		<section>
			<main id="main" class="main">

    <div class="pagetitle">
      <h1>Books</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
            
            

              <!-- Table with stripped rows -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                    	Booking ID
                    </th>
                    <th>Book ID</th>
                    <th>Username</th>
                    <th>User ID</th>
                    <th>Date</th>
                   <th>Cancel</th>
                    <th>Issue</th>
                  </tr>
                </thead>
                <tbody>
                 
                  <tr  th:each="e:${blist}">
                    <td th:text="${e.booking_id}"></td>
                    <td th:text="${e.bid}"></td>
                    <td th:text="${e.username}"></td>
                    <td th:text="${e.user_id}"></td>
                    <td th:text="${e.date}"></td>
                     <td> <a class="btn btn-danger btn-sm" th:href="@{/Admin/cancelBooking(id=${e.booking_id})}">Cancel</a> </td>
                     <td> <a class="btn btn-primary btn-sm"th:href="@{/Admin/issueBooking(id=${e.booking_id})}">Issue</a> </td>
                     
                  </tr>
                 
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
		</section>
	</body>
</html>