<html th:replace="userBase::layout(~{::section})">
	<head>
		
		<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<!-- DataTables JS -->
		<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
	</head>
	<body>
		<section>
			<main id="main" class="main">

    <div class="pagetitle">
      <h1>Issued To Me</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
            
            

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>
                    	Book ID
                    </th>
                    <th>Book Name</th>
                    
                    <th>Issued Date</th>
                    <th>Expiring On</th>
					<th>Rating</th>
                    
                  </tr>
                </thead>
                <tbody>
                 
                  <tr  th:each="e:${issued}">
                    <td th:text="${e.books.bid}"></td>
                    <td th:text="${e.books.bname}"></td>
                    <td th:text="${e.issue_date}"></td>
                    <td th:text="${e.expiry_date}"> </td>
                  	<td> <a th:href="@{'/User/giveRating/'+${e.books.bid}}" class="btn btn-danger">Rate</a></td>
                  </tr>
                 
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
		</section>
	</body>
</html>