<html th:replace="basee::layout(~{::section})" th:fragment="issue_detail">
	<head>
		
	</head>
	<body>
		<section>
			<main id="main" class="main">

    <div class="pagetitle">
      <h1>Books</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
            
            

              <!-- Table with stripped rows -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                    	Book ID
                    </th>
                    <th>Book Name</th>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Issue Date</th>
                   	<th>Expiry Date</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                 
                  <tr  th:each="e:${issue_details}">
                    <td th:text="${e.bid}"></td>
                    <td th:text="${e.bname}"></td>
                    <td th:text="${e.sid}"></td>
                    <td th:text="${e.sname}"></td>
                    <td th:text="${e.issue_date}"></td>
                    <td th:text="${e.expiry_date}"></td>
                     	<td> <a class="btn btn-danger btn-sm"data-bs-target="#verticalycentered" th:href="@{/Admin/delete(id=${e.bid})}">delete</a> </td>
                  </tr>
                 
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
				
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
		</section>
	</body>
</html>