<!doctype html>
<html lang="en" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/home.css}">
	
</head>
<body>
	
	<style>
		.container{
			color: red;
		}
	</style>
	<section>
		<div class="container text-white" style="height: 350px;">
			<a th:href="@{/Admin/csit}">CSIT</a>
			<form th:action="@{/logout}" method="post">
				<button type="submit">Logout</button>
			</form>
		</div>
</section>
	
</body>
</html>