<html th:replace="base::layout(~{::section})">
	<head>
		
	</head>
	<body>
		<section style="height: 350px; display: flex; justify-content: center; text-align: center;">
			<form th:action="@{/Admin/update_save}" method="post" th:object="${values}">
				<table>
					<tr>
						<td>BookID:&nbsp;</td>&nbsp;&nbsp;
						<td> <input type="text" name="bid" th:field="*{bid}"/></td>
					</tr>
					<tr>
						<td>Book Name:&nbsp;</td>
						<td> <input type="text" name="bname" th:field="*{bname}"/> </td>
					</tr>
					<tr>
						<td>Author:&nbsp;</td>
						<td> <input type="text" name="author" th:field="*{author}"/> </td>
					</tr>
					<tr>
						<td>Publication:&nbsp;</td>
						<td> <input type="text" name="bname" th:field="*{publication}"/> </td>
					</tr>
					<tr>
						<td>Faculty</td>
						<td>
							<input type="text" name="faculty" th:field="*{faculty}"/>
						</td>
					</tr>
					<tr>
						<td> <input type="submit" value="update"/> </td>
					</tr>
				</table>
			</form>
		</section>
	</body>
</html>