<!DOCTYPE html>
<html lang="en" th:fragment="layout(content)">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>User</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

   <!-- Favicons -->
  <link th:href="@{/img/favicon.png}" rel="icon">
  <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/vendor/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/css/style.css}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a th:href="@{/User/home}" class="logo d-flex align-items-center">
        <img th:src="@{/img/logo.png}" alt="">
        <span class="d-none d-lg-block">User</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="get" th:action="@{/User/search}">
        <input type="text" name="search" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        

          <!--<a class="nav-link nav-icon" th:href="@{/Admin/show_requests}">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number" th:text="${count}"></span>
          </a><!-- End Notification Icon -->

        

       

       <!-- <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

         <!-- <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img th:src="@{/img/messages-1.jpg}" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img th:src="@{/img/messages-2.jpg}" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img th:src="@{/img/messages-3.jpg}" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        <!--</li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img th:src="@{'/images/'+${pic.img}}" alt="Profile" class="rounded-circle" style="width:40px; height: 40px;">
            <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${username}"></span>
          </a><!-- End Profile Iamge Icon -->
			
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6 th:text="${email}"></h6>
              <span th:text="${role}"></span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

           

            <li>
				<form th:action="@{/logout}" method="post">
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <input type="submit" class="btn btn-danger btn-sm" value="Logout">
                </form>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
	
	
      <li class="nav-item">
        <a class="nav-link " th:href="@{/User/home}">
          <i class="bi bi-grid"></i>
          <span>Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/User/MyBookings}">
          <i class="bi bi-envelope"></i>
          <span>My Bookings &nbsp; </span><span class="badge bg-secondary badge-number" th:text="${bcount}"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/User/issued}">
          <i class="bi bi-book"></i>
          <span>Issued&nbsp;</span><span class="badge bg-secondary badge-number" th:text="${icount}"></span>
        </a>
      </li><!-- End Contact Page Nav -->

     <!-- <li class="nav-item">
            <a class="nav-link" th:href="@{/Admin/category}">
              <i class="bi bi-list"></i><span>Category</span>
            </a>
          </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Categories</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li th:each="c:${categories}">
            <a th:href="@{'/User/category/'+${c.id}}">
              <i class="bi bi-arrow-right"></i><span th:text="${c.name}"></span>
            </a>
          </li>
         <!-- <li>
            <a th:href="@{/Admin/horror}">
              <i class="bi bi-arrow-right"></i><span>Horror</span>
            </a>
          </li>
          <li>
            <a th:href="@{/Admin/poetry}">
              <i class="bi bi-arrow-right"></i><span>Poetry</span>
            </a>
          </li>
          <li>
            <a th:href="@{/Admin/drama}">
              <i class="bi bi-arrow-right"></i><span>Drama</span>
            </a>
          </li>
          <li>
            <a th:href="@{/Admin/history}">
              <i class="bi bi-arrow-right"></i><span>History</span>
            </a>
          </li>-->
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Books</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/User/findAll}">
              <i class="bi bi-book"></i><span>Book List</span>
            </a>
          </li>
        <!--  <li>
            <a th:href="@{/Admin/add_book_form}">
              <i class="bi bi-plus-lg"></i><span>Add Book</span>
            </a>
          </li>
          <li>
            <a th:href="@{/Admin/issue_form}">
              <i class="bi bi-book"></i><span>Issue Book</span>
            </a>
          </li>
         <!-- <li>
            <a href="forms-validation.html">
              <i class="bi bi-circle"></i><span>Form Validation</span>
            </a>
          </li>-->
        </ul>
      </li><!-- End Forms Nav -->

     <!-- <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person"></i><span>Student</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/Admin/students}">
              <i class="bi bi-card-list"></i><span>Student List</span>
            </a>
          </li>
          <li>
            <a th:href="@{/Admin/stuForm}">
              <i class="bi bi-person-fill-add"></i><span>Add Student</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

    
      <!--<li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person-workspace"></i><span>Admin</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/Admin/findAdmins}">
              <i class="bi bi-person"></i><span>Admins</span>
            </a>
          </li>
          <li>
            <a th:href="@{/Admin/admin_form}">
              <i class="bi bi-person-plus-fill"></i><span>Add Admin</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Icons Nav -->

      <!--<li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/Admin/show_requests}">
          <i class="bi bi-people"></i>
          <span>Request</span>&nbsp;
           <span class="badge bg-secondary badge-number" th:text="${count}"></span>
        </a>
      </li><!-- End Profile Page Nav -->
		
		<!--<li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/Admin/students}">
          <i class="bi bi-person"></i>
          <span>Students</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/Admin/findAll}">
          <i class="bi bi-book"></i>
          <span>Books</span>
        </a>
      </li><!-- End Register Page Nav -->
      
<!--<li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/Admin/add_book_form}">
          <i class="bi bi-plus"></i>
          <span>Add Books</span>
        </a>
      </li><!-- End Login Page Nav -->

      
      



    </ul>

  </aside><!-- End Sidebar-->

<div th:replace="${content}" id="main" class="main"></div>
 

   <!-- ======= Footer ======= -->
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/vendor/chart.js/chart.umd.js}"></script>
  <script th:src="@{/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/js/main.js}"></script>

</body>

</html>